.head{
	display: flex;
	align-items: center;

}
.b1{
	flex: 1;
}
.b2{
	flex:8;
	font-size:70px;
	text-align: center;
	font-family: arial;
	color:  #1a5276 ;
}
.b3{ 
	flex:3;
	align-self: baseline;
}
.b3 a{
	padding-left: 20px;
	text-decoration:none;

}
a {
	color:black;
	padding-left: 20px;
}
li{
	flex:1;
	list-style:none;
	display: inline;
}
.genre{
	display: flex;
	justify-content:flex-start;
	padding-left: 0px;
}
.hero{
	width: 100%
}

.container{
	display:flex;
	text-align: center;
}
.box1 img,.box2 img, .box3 img {	
	width:338px;
	height:219px;
}
.box1 {
	flex:1;
}
.box2 {
	flex:1; 
}
.box3 {	
	flex:1;
}

.bestseller{
	display:flex;
	text-align:center;
}
.box4{
	flex:1;
}
.box5{
	flex:1;
}

.box6{
	flex:1;
}
.cont{
	width:120px;
	height:200px;
}

.foot p{
	text-align:center;
}
p a{
	padding-left: 0px;
}

