.head{
	display: flex;
	align-items: center;

}
.b1{
	flex: 1;
}
.b2{
	flex:8;
	font-size:70px;
	text-align: center;
	font-family: arial;
	color:  #1a5276 ;
}
.heading{
	margin:0px;
}
.b3{ 
	flex:3;
	align-self: baseline;
}
a{text-decoration: none;
color:black;}
h3{
	display:none;
}

li{
	flex:1;
	list-style:none;
	display: inline;
	padding-right:20px;
}
.genre{
	display: flex;
	justify-content:center;
	flex-wrap: nowrap;
	padding-left: 0px;
}
.hero{
	width: 100%
}

.container{
	display:flex;
	text-align: center;
}
.box1 img,.box2 img, .box3 img {	
	width:338px;
	height:219px;
}
.box1 {
	flex:1;
}
.box2 {
	flex:1; 
}
.box3 {	
	flex:1;
}

.bestseller{
	display:flex;
	text-align:center;
}
.box4{
	flex:1;
}
.box5{
	flex:1;
}

.box6{
	flex:1;
}
.cont{
	width:120px;
	height:200px;
}

.foot p{
	text-align:center;
}
p a{
	padding-left: 0px;
}

